# MDS Auth config.
AUTH_CERTS_DIR="<path/to/dir>"
export AUTH_CSR="${AUTH_CERTS_DIR}/<filename>.csr"
export AUTH_CSR_PRIVATE_KEY="${AUTH_CERTS_DIR}/<filename>.key"
export AUTH_CERTIFICATE_LOCATION="${AUTH_CERTS_DIR}"

# GitHub authentication
export GITHUB_TOKEN="<token>"

# Code Artifact login alias
alias calogin="<source from: https://digitaluk.atlassian.net/wiki/spaces/MDS/pages/3579936769/Integration+with+CodeArtifact#Making-things-easier>"
